<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- computed -->
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="val">全选<br>
        <ul>
            <li v-for="a in arr" >
                <input type="checkbox" v-model="a.isSelected">{{a.name}}
            </li>
        </ul>

    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let vm=new Vue({
            el:"#app",
            data:{
                arr:[{isSelected:false,name:"手机"},{isSelected:true,name:"电脑"}]

            },
            computed:{
                val:{
                    get(){
                        console.log(100); //默认输出一次
                        
                        // return true;
                        return this.arr.every(item=>item.isSelected) //也是return true,false,用了数组方法every

                    },
                    set(a){
                        console.log(a); //当更改val值的时候，就会执行这个方法，v-model="val"全选，选中就是true看控制台,b不选，就false,会变
                         return this.arr.forEach(item=> {item.isSelected=a
                             
                         });

                        

                    }
               
                }

            }

        })
    
    
    
    </script>
</body>
</html>