<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-for="(a,index) in arr">{{a}}索引{{index}}</div>
        <!-- 变量名a，这个名自己起的可以换。代表数组的每一项，
               arr是data中一个变量
               index:代表数组的索引
               v-for:可以循环数字
                    也可以循环字符串、
                    也可以是对象
                    也可以是复合属性-->
        <ul>
            <!-- <li v-for="a in num">{{a}}</li> -->
            <li v-for="(a,index) in str">{{a}}索引{{index}}</li>
            
            <li v-for="(a,b) in obj">{{a}}{{b}}</li>  -->
            <!-- a是属性值，b是属性名
            
            <li v-for="a in ary">{{a.fruit}}</li>
            <!-- a是代表每一项，然后a。fruit就能获取每一项 -->
      
        
        </ul>

    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let vm=new Vue({
            el:"#app",
            data:{
               arr:[12,34,56,78],
               num:6,
               str:"zhonghua",
               obj:{name:"xiaohua",age:10},
               ary:[{fruit:"草莓"},{fruit:"苹果"}]
            }
        })
        
    
    
    
    </script>
</body>
</html>